$light-orange: #FCDEBEFF;
$sage: #D4D2A5FF;
$battleship-gray: #928779FF;
$wenge: #5E5768FF;
$delft-blue: #3A445DFF;
$platinum: #EAEAEAFF;
$byzantium: #893168FF;
$violet-jtc: #4A1942FF;
$dark-purple: #2E1C2BFF;
$black: #050404FF;
$white: #FFF;
