<section>
  <h2>Grid Component</h2>
  <t-grid
    (paginationChange)="performFetch($event)"
    [data]="data"
    [sortable]="true"
  >
    <t-column
      [sortable]="true"
      name="Name"
      property="name"
    ></t-column>
    <t-column
      [sortable]="false"
      name="Username"
      property="username"
    ></t-column>
    <t-column
      [sortable]="true"
      name="Email"
      property="email"
    ></t-column>
  </t-grid>
</section>
<section>
  <h2>Progress Component</h2>
  <t-progress
    [progress]="(progress$ | async)!"
    [radius]="120"
    color="#893168"
  ></t-progress>
</section>
